<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.MarketAnswerMapper">
  <resultMap id="BaseResultMap" type="com.market.entity.MarketAnswer">
    <id column="ANSWER_ID" jdbcType="INTEGER" property="answerId" />
    <result column="SURVEY_ID" jdbcType="INTEGER" property="surveyId" />
    <result column="QUESTION_ID" jdbcType="INTEGER" property="questionId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ANSWER_CONTENT" jdbcType="VARCHAR" property="answerContent" />
    <result column="ANSWER_TIME" jdbcType="TIMESTAMP" property="answerTime" />

    <association property="survey" column="SURVEY_ID" select="com.market.dao.MarketSurveyMapper.selectByPrimaryKey"></association>
    <association property="question" column="QUESTION_ID" select="com.market.dao.MarketQuestionMapper.selectByPrimaryKey"></association>
    <association property="user" column="USER_ID" select="com.market.dao.UserDao.selectByPrimaryKey"></association>

  </resultMap>
  <sql id="Base_Column_List">
    ANSWER_ID, SURVEY_ID, QUESTION_ID,USER_ID,ANSWER_CONTENT,ANSWER_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from market_answer
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </select>

  <select id="selectList" parameterType="com.market.entity.MarketAnswer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from market_answer
    <where>
      <if test="surveyId != null and surveyId != ''">
        and SURVEY_ID =  #{surveyId,jdbcType=INTEGER}
      </if>
      <if test="questionId != null and questionId != ''">
        and QUESTION_ID =  #{questionId,jdbcType=INTEGER}
      </if>
      <if test="userId != null and userId != ''">
        and USER_ID =  #{userId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from market_answer
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.market.entity.MarketAnswer">
    insert into market_answer (ANSWER_ID, SURVEY_ID, ANSWER_CONTENT
      )
    values (#{answerId,jdbcType=INTEGER}, #{surveyId,jdbcType=INTEGER}, #{answerContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.market.entity.MarketAnswer">
    insert into market_answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="answerId != null">
        ANSWER_ID,
      </if>
      <if test="surveyId != null">
        SURVEY_ID,
      </if>
      <if test="answerContent != null">
        ANSWER_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="answerId != null">
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="surveyId != null">
        #{surveyId,jdbcType=INTEGER},
      </if>
      <if test="answerContent != null">
        #{answerContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.entity.MarketAnswer">
    update market_answer
    <set>
      <if test="surveyId != null">
        SURVEY_ID = #{surveyId,jdbcType=INTEGER},
      </if>
      <if test="answerContent != null">
        ANSWER_CONTENT = #{answerContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.entity.MarketAnswer">
    update market_answer
    set SURVEY_ID = #{surveyId,jdbcType=INTEGER},
      ANSWER_CONTENT = #{answerContent,jdbcType=VARCHAR}
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </update>
</mapper>