<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.MarketAnswerMapper">
  <resultMap id="BaseResultMap" type="com.market.entity.MarketAnswer">
    <id column="ANSWER_ID" jdbcType="INTEGER" property="answerId" />
    <result column="SURVEY_ID" jdbcType="INTEGER" property="surveyId" />
    <result column="ANSWER_CONTENT" jdbcType="VARCHAR" property="answerContent" />
  </resultMap>
  <sql id="Base_Column_List">
    ANSWER_ID, SURVEY_ID, ANSWER_CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from market_answer
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from market_answer
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.market.entity.MarketAnswer">
    insert into market_answer (ANSWER_ID, SURVEY_ID, ANSWER_CONTENT
      )
    values (#{answerId,jdbcType=INTEGER}, #{surveyId,jdbcType=INTEGER}, #{answerContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.market.entity.MarketAnswer">
    insert into market_answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="answerId != null">
        ANSWER_ID,
      </if>
      <if test="surveyId != null">
        SURVEY_ID,
      </if>
      <if test="answerContent != null">
        ANSWER_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="answerId != null">
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="surveyId != null">
        #{surveyId,jdbcType=INTEGER},
      </if>
      <if test="answerContent != null">
        #{answerContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.entity.MarketAnswer">
    update market_answer
    <set>
      <if test="surveyId != null">
        SURVEY_ID = #{surveyId,jdbcType=INTEGER},
      </if>
      <if test="answerContent != null">
        ANSWER_CONTENT = #{answerContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.entity.MarketAnswer">
    update market_answer
    set SURVEY_ID = #{surveyId,jdbcType=INTEGER},
      ANSWER_CONTENT = #{answerContent,jdbcType=VARCHAR}
    where ANSWER_ID = #{answerId,jdbcType=INTEGER}
  </update>
</mapper>